<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link Generator Instruction</title>
</head>
<body>
    <h2>This is instruction to use the link-generator</h2>
    <p>This service allows to shortening and expansion of links. The service is developed with the help of Heroku, Spring Boot, and H2 database.</p>
    <p>Possible usage in mentioned lower:</p>
    <p>http://link-generator-bitly.herokuapp.com/expand?url=https://bit.ly/3c0guSt/ will expand the link to it's long variant, and will return JSON with long URL via Bit.ly service.</p>
    <p>http://link-generator-bitly.herokuapp.com/shorten?url=http://endorphina.com/ will shorten the link to it's short variant and will return JSON with short URL via Bit.ly service.</p>
</body>
</html>